# VS Code
.vscode/
.vs/

# build directory
build/

# backup files
*.backup
*.bk

# homeworks
projects/OpenGL_Tutorials/*HW*

# not yet
projects/OpenGL_Tutorials/11_Greenish_Triangle_(GLSL_Uniform)
projects/OpenGL_Tutorials/12_HW_Triangle_Animation_(GLSL_Uniform)
projects/OpenGL_Tutorials/13_Colorful_Triangle_(GLSL_layout_location)
projects/OpenGL_Tutorials/15_Brick_Triangle_(Texture)
projects/OpenGL_Tutorials/16_Disco_Brick_Triangle_(Texture_Color)
projects/OpenGL_Tutorials/18_Smiling_Wooden_Rectangle_(Texture_Units)
projects/OpenGL_Tutorials/19_HW_Super_Mario_(Texture)
projects/OpenGL_Tutorials/20_Transformed_Rectangle_in_2D_(Model)
projects/OpenGL_Tutorials/21_Rotating_Rectangle_in_2D_(Model_Uniform)
projects/OpenGL_Tutorials/22_Transformed_Rectangle_in_3D_(Model_View_Projection)
projects/OpenGL_Tutorials/23_Rotating_Cube_in_3D_without_Z_Buffer_(3D_Cube)
projects/OpenGL_Tutorials/24_Rotating_Cube_in_3D_(GL_DEPTH_TEST)
projects/OpenGL_Tutorials/25_Many_Cubes_in_3D_(Many_Models)
projects/OpenGL_Tutorials/26_Rotating_Camera_(View_lookAt)
projects/OpenGL_Tutorials/27_Translating_Camera_(Keyboard_Input)
projects/OpenGL_Tutorials/28_HW_Translating_Camera_in_All_Directions_(Keyboard_Input)
projects/OpenGL_Tutorials/29_Moving_Camera_(Mouse_Input)
projects/OpenGL_Tutorials/30_Colors
projects/OpenGL_Tutorials/31_Phong_Lighting
projects/OpenGL_Tutorials/41_Model_Loading_(Assimp)